include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | Igor Chernyak
    link(rel="stylesheet", href="./styles/main.pcss")
  body
    .wrapper
      .maincontent
        .welcome-section
          section.parallax
            - for (var i = 1; i <= 7; i++)
                .parallax__layer
                  picture
                    img(srcset=require(`images/parallax/mountains/${i}.${i === 1 ? 'jpg' : 'png'}`)).parallax__image
          section(id="sec1").hero
            .container.hero__container
              header.header
                .logo ИЧ
                .header__menu
                  nav.nav
                    ul.nav__list
                      - var menu = [{name: 'Главная', link:"#sec1"}, {name: 'Обо мне', link:"#sec2"}, {name: 'Навыки', link:"#sec3"}, {name: 'Работы', link:"#sec4"}, {name: 'Отзывы', link:"#sec5"}, {name: 'Связаться', link:"#sec6"}];
                      each item in menu
                        li.nav__item
                          a(href=item.link).nav__link #{item.name}
                .header__links
                  ul.socials
                    - var socials = [{name: 'insta', link: "https://www.instagram.com/igor_chernyak88/"}, {name: 'vk', link: "https://vk.com/id25389922"}, {name: 'github', link: "https://github.com/chernyak88/"}];
                    each item in socials
                      li.socials__item
                        a(href=item.link target='_blank').socials__link 
                          +icon(`${item.name}`, 'socials__icon')
              .hero__content
                .user-info 
                  .user__info-desc Личный сайт веб разработчика
                  .user__info-name Игорь Черняк
              .hero__bottom-buttons
                .scroll-down-button 
                  a.hero__bottom-link Скролл
                    +icon('scroll', 'hero__bottom-icon')
          section(id="sec2").about
            .container.about__container
              .about__left
                .user
                  .user__avatar
                    +image('content/user.jpg', 'user__avatar-pic')
                  .user__data
                    table.user__data-table
                      - 
                        var data = [
                          ['Проживаю:', 'Москва'],
                          ['Возраст:', '31 год'],
                          ['Родился:', '11 ноября 1988'],
                        ]
                      each row in data
                        tr.user__data-row
                          td.user__data-cell #{row[0]}
                          td.user__data-cell #{row[1]}
              .about__right
                .about__welcome Привет, меня зовут
                .about__username Игорь Черняк
                .about__desc 
                  p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                .about__ps 
                  p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
        .triangles.triangles_top
          svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__shape.triangles__shape_left
            polygon(points="0,0 0,100 1000,100")
          svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__shape.triangles__shape_right
            polygon(points="0,100 1000,100 1000,0")
        section(id="sec3").fullscreen-section.values
          .container.values__container
            .values__title
              h2.section-title.values__title-text.section-title--small Чем я могу быть полезен вам
              article.values__desc
                p Хорошие знания HTML, pug, CSS, SCSS, БЭМ, flexbox, адаптивной вёрстки. Работаю с Git, Photoshop, Avocode, VSCode, Atom. Средний уровень JavaScript. Основы Ajax, Vue.js, PHP. Опыт работы со сборками gulp, webpack, пакетными менеджерами npm, yarn.
            .values__widget
              #skills-component
            .values__widget-tablets
        section(id="sec4").fullscreen-section.works
          .container.works__container
            h2.section-title.works__section-title Мои работы
            .works__content
              #slider-component
        .triangles.triangles_bottom
          svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__shape.triangles__shape_left
            polygon(points="0,0 1000,0 1000,100")
          svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__shape.triangles__shape_right
            polygon(points="0,0 0,100 1000,0")
        .bottom-section
          section.parallax.parallax__budda
            .parallax__item(data-speed="0")
              +image('parallax/budda/1.jpg', 'parallax__image')
            .parallax__item(data-speed="0")
              +image('parallax/budda/2.png', 'parallax__image')
            .parallax__item(data-speed="0.09")
              +image('parallax/budda/3.png', 'parallax__image')
            .parallax__item(data-speed="0")
              +image('parallax/budda/4.png', 'parallax__image')
            .parallax__item(data-speed="0")
              +image('parallax/budda/5.png', 'parallax__image')
            .parallax__item(data-speed="0")
              +image('parallax/budda/6.png', 'parallax__image')
          section(id="sec5").reviews-section
            reviews-component
          section(id="sec6").form-section
            .section-title.form-section__title Связаться со мной
            form.form(method="POST")
              .form__row
                label.form__block.form__block--error(for="")
                  .form__text Введите ваше имя
                  input(type="text" name="name" placeholder="Черняк Игорь" required).form__input
                  .error.error__name
                  +icon('user', 'form__icon')
                label.form__block.form__block--error(for="")
                  .form__text Введите ваш email
                  input(type="email" name="email" placeholder="igor.chernyak88@mail.ru" required).form__input
                  .error.error__mail
                  +icon('envelope', 'form__icon') 
              .form__row
                label.form__block
                  .form__text Сообщение к письму
                  input(type="text" name="comment" placeholder="Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса").form__input.form__input--full
                  +icon('message', 'form__icon')
              input(type="submit", value="Отправить").form__button
        footer.footer
          .container.footer__container
            .footer__copyright
              .copyright
                .copyright__year &copy;2020
                .copyright__text
                  .copyright__username Игорь Черняк
                  .copyright__desc Личный сайт веб-разработчика
                  .footer__text-author
                    a(href="mailto:igor.chernyak88@mail.ru") Отправить письмо
            .footer__data
              .footer__menu
                nav.nav.nav--color-white
                    ul.nav__list
                      each item in menu
                        li.nav__item
                          a(href=item.link).nav__link #{item.name}
              .footer__data-columns
                .footer__data-col
                  article.footer__text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                  .footer__socials
                    ul.socials.socials--rounded
                      each item in socials
                        li.socials__item
                          a(href=item.link target='_blank').socials__link 
                            +icon(`${item.name}`, 'socials__icon')
                .footer__data-col
                  article.footer__text
                    p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                  .footer__text-author Martin Golding
      .hamburger-menu
        .hamburger-menu__link
      .popup
        .popup__overlay
          .logo.popup__logo ИЧ
        .popup__menu
          button.popup__close
          nav.nav.nav--popup
            ul.nav__list
              each item in menu
                li.nav__item.nav__item--popup
                  a(href=item.link).nav__link #{item.name}
          ul.socials.socials--popup
            each item in socials
              li.socials__item
                a(href=item.link target='_blank').socials__link
                  +icon(`${item.name}`, 'socials__icon')
      .popup__order
        .overlay-order
          .popup-container-order
            .popup__content-order text
            button.btn-modal Закрыть


    include ./templates/entry.pug
                    



          




          