include ./mixins.pug
//+image('content/user.jpg', 'user-pic')
//+icon('link', 'link-class')
//.icon-bg

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | Igor Chernyak
    link(rel="stylesheet", href="./styles/main.pcss")
  body
    .wrapper
      .maincontent
        .welcome-section
          section.hero
            .container.hero__container
              header.header
                .logo ИЧ
                .header__menu
                  nav.nav
                    ul.nav__list
                      - var menu = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться',];
                      each item in menu
                        li.nav__item
                          a(href="").nav__link #{item}
                .header__links
                  ul.socials
                    - var socials = ['insta', 'vk', 'github'];
                    each item in socials
                      li.socials__item
                        a(href="").socials__link 
                          +icon(`${item}`, 'socials__icon')
              .hero__content
                .user-info 
                  .user__info-desc Личный сайт веб разработчика
                  .user__info-name Игорь Черняк
              .hero__bottom-buttons
                .scroll-down-button 
                  a(href="").hero__bottom-link Скролл
                    +icon('scroll', 'hero__bottom-icon')
          section.about
            .container.about__container
              .about__left
                .user
                  .user__avatar
                    +image('content/user.jpg', 'user__avatar-pic')
                  .user__data
                    table.user__data-table
                      - 
                        var data = [
                          ['Проживаю:', 'Зеленоград'],
                          ['Возраст:', '30 лет'],
                          ['Родился:', '11 ноября 1988'],
                        ]
                      each row in data
                        tr.user__data-row
                          td.user__data-cell #{row[0]}
                          td.user__data-cell #{row[1]}
              .about__right
                .about__welcome Привет, меня зовут
                .about__username Игорь Черняк
                .about__desc 
                  p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                .about__ps 
                  p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        section.fullscreen-section.values
          .container.values__container
            .values__title
              h2.section-title.values__title-text.section-title--small Чем я могу быть полезен вам
              article.values__desc
                p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
            ul.user-skills
              -
                var skills = [
                  ['Front-end', ['HTML5', 'CSS3', 'javascript', 'jquery и Vue.js']],
                  ['Workflow', ['GIT', 'Terminal', 'Gulp', 'Webpack']],
                ]
              each item in skills
                li.user-skills__item.skills-row
                  h3.skills-row__title #{item[0]}
                  ul.skills-row__list
                    each skill in item[1]
                      li.skills-row__item.skill
                        svg(viewBox="0 0 100 100" preserveAspectRatio="none").skill__shape
                          defs
                            lineargradient#gradient(x1='0', y1='0', x2='0', y2='100%')
                              stop(offset='0%', stop-color='#5500f2')
                              stop(offset='100%', stop-color='#8f00ef')
                          circle(r="40" cx="50" cy="50").skill__circle.skill__circle-under
                          circle(r="40" cx="50" cy="50"
                            stroke="url(#gradient)"
                            transform="rotate(-180 50 50)"
                            stroke-dashoffset=`${item.progress}`).skill__circle.skill__circle-above
                          span.skill__title #{skill}
        section.fullscreen-section.works
          .container.works__container
            .works__left
              h2.section-title.works__title Мои работы
              .works__slider
                ul.works__slider-list
                  li.works__slider-item
                  li.works__slider-item
                  li.works__slider-item
                  li.works__slider-item.works__slider-item--active
                a(href="").work__slider-prev
                  +image('icons/arrow-button-up.png', 'work__slider-prev-icon')
                a(href="").work__slider-next
                  +image('icons/arrow-button.png', 'work__slider-next-icon')
            .works__right
              ul.works__right-skills
                li.works__right-skills__item HTML
                li.works__right-skills__item CSS
                li.works__right-skills__item javascript
              .works__right-title Сайт школы образования
              .works__right-desc Этот парень проходил обучение веб-разработке не где-то, а в Loftschool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
              .works__right-view
                +icon('link', 'works__right-view-icon')
                a(href="").works__right-view-link Посмотреть сайт
        .bottom-section
          section.reviews
            .reviews__title
              .section-title.reviews__section-title Что обо мне говорят
              .reviews__slider-controls
                a(href="").reviews__slider-prev
                  +icon('arrow-down', 'reviews__slider-prev-icon')
                a(href="").reviews__slider-next
                  +icon('arrow-down', 'reviews__slider-next-icon')
            ul.reviews__slider
              li.reviews__slider-item
                .quote
                  article.quote__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                  .quote__author
                    .user.user--horizontal
                      .user__avatar
                        +image('content/kovalchuk.png', 'user__avatar-pic')
                      .user__data
                        .user__name Ковальчук Дмитрий
                        .user__occ Основатель Loftschool
              li.reviews__slider-item
                .quote
                  article.quote__text Этот код выдержит любые испытания. Только, пожалуйста, не загружайте сайт на слишком старых браузерах
                  .quote__author
                    .user.user--horizontal
                      .user__avatar
                        +image('content/sabancev.png', 'user__avatar-pic')
                      .user__data
                        .user__name Владимир Сабанцев
                        .user__occ Преподаватель
          section.form-section
            .section-title.form-section__title Связаться со мной
            form(action="").form
              .form__row
                label.form__block
                  .form__text Введите ваше имя
                  input(type="text", placeholder="Ковальчук Дмитрий").form__input
                  +icon('user', 'form__icon')
                label.form__block
                  .form__text Введите ваш email
                  input(type="text", placeholder="loftschool@study.com").form__input
                  +icon('envelope', 'form__icon')
              .form__row
                label.form__block
                  .form__text Сообщение к письму
                  input(type="text", placeholder="Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса").form__input.form__input--full
                  +icon('message', 'form__icon')
              input(type="submit", value="Отправить").form__button
        footer.footer
          .container.footer__container
            .footer__copyright
              .copyright
                .copyright__year &copy;2019
                .copyright__text
                  .copyright__username Игорь Черняк
                  .copyright__desc Личный сайт веб-разработчика
            .footer__data
              .footer__menu
                nav.nav.nav--color-white
                    ul.nav__list
                      each item in menu
                        li.nav__item
                          a(href="").nav__link #{item}
              .footer__data-columns
                .footer__data-col
                  article.footer__text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                  .footer__socials
                    ul.socials.socials--rounded
                      each item in socials
                        li.socials__item
                          a(href="").socials__link 
                            +icon(`${item}`, 'socials__icon')
                .footer__data-col
                  article.footer__text
                    p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                  .footer__text-author Martin Golding

                    



          




          